body {
    background-color: #111;
    font: normal 14pt Arial;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header, footer { padding: 20px; text-align: center; }

section {
    background-color: #f6faef;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 8px 8px 0px #da0000;
}

.pergunta { margin-bottom: 15px; text-align: center; }

select, input { width: 100%; margin-top: 5px; }

#btn_resultado, #btn_reset {
    background-color: #ff4655;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#status_texto { color: #da0000; font-weight: bold; }

#resposta_final {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
    animation: tremer 0.1s infinite;
}

@keyframes tremer {
    0% { transform: translate(1px, 1px); }
    50% { transform: translate(-1px, -2px); }
    100% { transform: translate(1px, -1px); }
}